# Latex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc

# Coursework 1
Coursework/coursework_01/__pycache__/*
Coursework/coursework_01/.ipynb_checkpoints/coursework_01-checkpoint.ipynb

# Coursework 2
Coursework/coursework_02/Task_1_Dataset/*
Coursework/coursework_02/Task_2_Dataset/*